@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

table, form {
  background-color: white;
  border: 2px solid gold;
}

body {
  background-color: lightgoldenrodyellow;
}

.navbar-brand i { font-weight: 100; }

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.navigate {
  display: flex;
  flex-wrap: wrap;
}

.navigate a {
  text-decoration: none;
  color: #333;
  background-color: white;
  font-size: 1.3em;
  padding: 30px;
  margin: 0 10px 10px 0;
  box-shadow: 5px 5px 10px #ccc;
}

.navigate a:hover {
  color: white;
  background-color: #333;
}

form {
  max-width: 600px;
  min-width: 200px;
  box-shadow: 3px 4px 10px 5px #eee;
  padding: 30px;
}

form label {
  font-size: 0.95em;
  margin: 3px;
}

span.required {
  color: red;
  font-size: 0.95em;
  margin: 0 5px;
}

b.tip {
  text-transform: uppercase;
  color: #2a007d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.odds {
  font-weight: normal;
  padding: 3px 8px;
  box-shadow: 2px 1px 3px 2px #ccc;
}

thead {
  background-color: lightsteelblue;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  margin: 20px 0;
}

.table {
  margin-top: 15px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 10px 2px #ccc;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
}

.pickDate button {
  margin-right: 10px;
}

.pickDate {
  position: relative;
}

.match-table .date {
  font-size: 0.8em;
  font-weight: 1;
  margin: 3px 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.update-modal {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgb(90, 90, 90, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; width: 100%;
  position: fixed;
}

.modal-content {
  background-color: white !important;
  margin: 10px !important;
  max-width: 600px;
  min-width: 240px;
  max-height: 85vh;
  overflow-y: scroll;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  border-radius: 50%;
  padding: 10px;
}

.del-btn {
  float: right;
}

.statusIcon {
  margin: 0 10px;
}

.flash {
  background-color: lightgoldenrodyellow;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 5px 20px;
  border: 2px groove #bbb;
  border-radius: 3px;
  margin: 10px;
  right: 0;
  color: red;
  font-weight: 300;
}

tr.vip {
  font-weight: 400;
  background-color: gold;
  background-blend-mode: lighten;
}