@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

nav {
  position: absolute;
  z-index: 5;
  top: 0;
  background-color: black !important;
}

.page-title {
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: bold;
  color: #000;
}

.navbar-brand {
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.333;
  background-size: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.match-table {
  position: relative;
  margin: 10px auto;
  background-color: white;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
}

.match-table .date {
  font-size: 0.8em;
  font-weight: 1;
  margin: 3px 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

table, form {
  position: relative;
  background-color: white;
  z-index: 10;
  padding: 30px 0;
  box-shadow: 3px 3px 3px #888;
}

.pickDate {
  position: relative;
  
}

.pickDate button {
  /* border-radius: 0; */
  /* border: 2px solid #eee; */
  /* font-size: 0.9em; */
  /* text-transform: uppercase; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* box-shadow: 3px 3px 3px #888; */
  /* padding: 10px; */
  /* margin: 0 10px 5px 0; */
  margin-right: 10px;
}

form {
  max-width: 480px;
  padding: 30px;
  min-height: none;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  /* color: #333; */
  z-index: 5;
  /* margin: 0; */
  /* padding: 15px; */
}

label {
  margin-bottom: 5px;
}

span.required {
  color: red;
  font-size: 0.95em;
  margin: 0 5px;
}

.nav-item {
  display: inline-block;
}

.auth-links a {
  padding: 3px 30px ;
}

thead {
  background-color: lightsteelblue;
}

.nomatchesinfo {
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  text-align: center;
}

.statusIcon {
  margin: 0 10px;
}

b.tip {
  text-transform: uppercase;
  color: #2a007d;
}

.signupORlogin {
  margin-top: 10px;
}

.subscribe {
  position: relative;
  z-index: 10;
}

.wa-icon {
  position: fixed;
  z-index: 10 !important;
  text-decoration: none;
  color: white;
  bottom: 0; right: 0;
  opacity: 1;
  margin: 20px;
  text-align: center;
}

.wa-icon img {
  width: 40px;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  margin: 10px;
  display: inline-flex;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  padding: 10px;
}

.alert img {
  vertical-align: middle;
  margin: 10px;
  opacity: 0.8;
  width: 10px;
}

.subscribe {
  position: relative;
}

.subscription-details {
  max-width: 480px;
  z-index: 10;
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.site-footer {
  background-color: black;
  color: white;
  padding: 40px;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  /* z-index: 10; */
}

tr.vip {
  background-color: gold;
  background-blend-mode: lighten;
}

.disclaimer {
  font-size: 0.9em;
  font-weight: 300;
}